<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.23.12/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Фильмы</title>
</head>
<body>
<h1 class="uk-heading-line uk-text-center"><span>Фильмы</span></h1>
<div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>

    {% for movie in movies %}

    <div>
        <div class="uk-card uk-card-default uk-card-body uk-card-small">
            <h3 class="uk-card-title">{{ movie.title }}</h3>

            <p class="uk-text-meta">

                {{ movie.year }} •

                <!--
                    Проверка на количество жанров в фильме, при наличии нескольких проставляется запятая
                    forloop.last - проверяет последнее ли значение жанра или нет
                -->

                {% for genre in movie.genres.all %}
                    {{ genre.name }}
                {% if not forloop.last %}
                ,
                {% endif %}
                {% endfor %}
                •

                <!--
                    Конструкция if необходима в случае проверки на нулевое значение, без неё может выйти ошибка ввиду
                    того что рейтинга не будет
                -->

                {% if movie.average_rating %}
                    {{ movie.average_rating|floatformat:1 }}/10
                {% else %}
                    <span class="uk-text-muted">Нет оценок</span>
                {% endif %}

                •
                {% if movie.rating_count %}
                   Отзывы: {{ movie.rating_count }}
                {% else %}
                    <span class="uk-text-muted">Нет отзывов</span>
                {% endif %}


            </p>

            <p class="uk-text-small">{{ movie.description }}</p>
        </div>
    </div>

    {% endfor %}

</div>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.23.12/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.23.12/dist/js/uikit-icons.min.js"></script>
</body>
</html>